* {
  padding: 0;
  margin: 0;
}

.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 1s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* height: 20rem; */
  /* width: 100rem; */
  object-fit: cover;
}
